<%# coding: UTF-8 -%>
<div class="login-container"></div>
  <div class="hexacta-logo center"></div>
    
  <div class="center">
    <form method="post" action="<%= @form_action || "login" %>" id="login-form" onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;">
  
      <img id="user" class="user" src="http://fotos.hexacta.com:8181/photo.php?username=">

      <% if @message %>
        <div class="center messagebox-container" id="messagebox-container">
          <div class="messagebox <%= escape_html @message[:type] %>">
              <%= escape_html @message[:message] %>
          </div>
        </div>
      <% end %>

      <div class="messagebox-container">
        <label>Nombre</label>
        <br>
        <input type="text" id="username" name="username" class="form-control" placeholder="Usuario">
      </div>

      <div>
        <label>Password</label>
        <br>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
      </div>

      <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
      <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />
      <input type="submit" class="btn btn-default" accesskey="l" value="Ingresar" tabindex="4" id="login-submit" />
      <div style="clear:both;"></div>

    </form>
  </div>
